/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --clr-primary-blue: hsl(246, 80%, 60%);

    --clr-primary-orange: hsl(15, 100%, 70%);
    --clr-primary-lightblue: hsl(195, 74%, 62%);
    --clr-primary-red: hsl(348, 100%, 68%);
    --clr-primary-green: hsl(145, 58%, 55%);
    --clr-primary-purple: hsl(264, 64%, 52%);
    --clr-primary-yellow: hsl(43, 84%, 65%);

    --clr-neutral-vdarkblue: hsl(226, 43%, 10%);
    --clr-neutral-darkblue: hsl(235, 46%, 20%);
    --clr-neutral-desaturatedblue: hsl(235, 45%, 61%);
    --clr-neutral-paleblue: hsl(236, 100%, 87%);

    --ff-main: "Rubik", sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    --fs-base: 1.125rem;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--clr-neutral-vdarkblue);

    font-family: var(--ff-main);
    color: #fff;
    font-weight: var(--fw-regular);

    padding-inline: 1.15rem;
    padding-top: 4rem;
}

main {
    max-width: 1100px;
}


.dashboard__user {
    background-color: var(--clr-primary-blue);

    padding: 1.5rem;
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 1rem;

    position: relative;
    z-index: 1;
}

.user__avatar {
    max-width: 65px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.user__title {
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-paleblue);
    font-size: 0.9375rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__name {
    color: #fff;
    font-weight: var(--fw-light);
    font-size: 1.5rem;
}

.dashboard__frequency {
    background-color: var(--clr-neutral-darkblue);

    border-radius: 0 0 15px 15px;
    padding-inline: 1.5rem;
    padding-bottom: 1.15rem;
    padding-top: 2rem;
    position: relative;
    top: -0.75rem;
}

.frequency__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    color: var(--clr-neutral-desaturatedblue);
    justify-content: space-between;
}

.dashboard__cards {
    position: relative;
    top: -1.75rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.dashboard__card {
   -- max-width: 250px;
}
.dashboard__card:not(:first-child) {
    margin-top: -1.25rem;
}

.card__panel {
    border-radius: 15px 15px 0 0;
    position: relative;
    top: 2.75rem;
    overflow: hidden;
    height: 80px;
}
.panel--work {
    background-color: var(--clr-primary-orange);
}
.panel--play {
    background-color: var(--clr-primary-lightblue);
}
.panel--study{
    background-color: var(--clr-primary-red);
}
.panel--exercise {
    background-color: var(--clr-primary-green);
}
.panel--social {
    background-color: var(--clr-primary-purple);
}
.panel--selfcare {
    background-color: var(--clr-primary-yellow);
}

.panel__img {
    margin-left: auto;
    margin-right: 5%;
    max-width: 80%;

    position: relative;
    bottom: 10%;
}
.panel__img > img {
    margin-left: auto;
}
.card__body {
    position: relative;
    background-color: var(--clr-neutral-darkblue);
    color: #fff;
    padding-inline: 1.15rem;
    padding-block: 1.5rem;
    border-radius: 15px;
}
.card__info,
.card__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__title {
    font-weight: var(--fw-medium);
}
.card__time--current {
    font-size: 2rem;
    font-weight: var(--fw-light);
}
.card__time--previous {
    font-size: 0.9375rem;
    color: var(--clr-neutral-paleblue);
}

footer {
    font-size: 0.75rem;
    text-align: center;
}

@media(width > 600px) {
    html, body, main {
        min-height: 100%;
    }
    body {
        display: grid;
        place-content: center;
    }
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        top: calc(100vh - 18px);
    }
    .dashboard {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1.5rem;
    }
    .dashboard__info {
        display: flex;
        flex-direction: column;
    }
    .dashboard__user {
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }
    .user__name {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 3.25rem;
    }
    .frequency__list {
        flex-direction: column;
        gap: 1rem;
    }   
    .dashboard__cards {
       grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
       column-gap: 1.5rem;
       top: -2.75rem;
    }
    .dashboard__card.card {
        margin: 0;
    }
    .card__body {
        display: flex;
        flex-direction: column;
        padding-inline: 1.5rem;
    }
    .card__value {
       flex-direction: column;
       align-items: start;
    }
    .card__time--current {
        font-size: 3rem;
    }
}
